html, body {
    height:100%;
    margin: 0;
    padding: 0;
}
header {
	display:flex;
	justify-content:space-around;
}

.container {
    display:flex;
	justify-content:center;
    flex-flow: row wrap;
    width: 1200px;
    height: 100%;
}
.menu {
    width: 100px;
    flex: 1;
    padding: 1em;
}
.menu:first-child {
    flex-grow: 1;
    
}
.menu:last-child {
   /* margin-left: auto; */
   display:flex;
   justify-content:center;
   flex-flow: row wrap;
   flex-grow: 3;
   margin: 0px;
}   
.menu li a{
    color: #000;
}    
.menu li{
    width: 25%;
    margin: auto;
    text-align: center;
    list-style: none;
}
@media 
  (min-width: 0px) 
  and (max-width: 800px)
    {
    .menu, .menu li{
        flex-direction: column;
        margin-left: 0;
        flex: 0 0 100%;
        background-color: #ff0;
    }

}